flake8-docstrings==1.5.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Jsonpify==1.5.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Mobility==1.0.0
Flask-MongoAlchemy==0.7.2
Flask-MySQL==1.5.1
Flask-Pusher==3.0
Flask-PyMongo==2.3.0
Flask-QRcode==3.0.0
Flask-SocketIO==4.3.0
Flask-SQLAlchemy==2.4.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
python-dateutil==2.8.1
PyVirtualDisplay==0.2.5
requests==2.22.0
selenium==3.141.0
sqlite-utils==2.3.1
sqlparse==0.3.0
stevedore==1.31.0
tabula-py==2.0.4
tabulate==0.8.6
urllib2-file==0.2.1
urllib3==1.25.7
virtualenv==16.7.9
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
w3lib==1.21.0
webencodings==0.5.1
Werkzeug==1.0.0